
.Create {
  display: flex;
  flex-direction: column;
}
.Create-title-containter {
  margin-top: 10em;
  margin-left: 1.3em;
}
.Create-form-container {
  margin-left: 1.3em;
}
.BreadCrumb {
  margin-top: 6em;
  margin-left: 1.2em;
}