.LearnMore {
	display: flex;
	flex-direction: column;
	background-image: url("https://images.unsplash.com/photo-1437719417032-8595fd9e9dc6?ixlib=rb-0.3.5&s=07b2bde5f63c918afbab47012e0bab07&auto=format&fit=crop&w=967&q=80");
	background-size: 107.85em;
	background-repeat: no-repeat;
	height: 70em;
}

.Learn-header {
	margin-top: 2em;
	text-align: center;
	font-size: 60px;
	font-weight: bolder;
}

.Learn-text-container {
	text-align: Left;
	padding: 10px 10px 10px;
	margin-left: 12em;
	margin-right: 12em;
	background-color: rgba(100, 193, 247, 0.5);
	border-radius: 25px;
}

.Learn-text-list {
	font-size: 24px;
}
.Learn-text-item {
	text-align: center;
	font-size: 24px;
}
.AboutUs-container {
	display: flex;
	flex-direction: row;
}
.individual-about-container{
	width:30em;
	height: 18em;
	margin-right: 3.2em;

}
.individual-picture-item {
	width:7.5em;
	height:7.5em;

}
.individual-text-item {	
	width: 30em;
	font-size: 0.6em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
}
.individual-name-item {
	font-size: 1em;
}
.individual-picture-crop {
	width:7.5em;
	height:7.5em;
}