.Loanlist {
  display: flex;
  flex-direction: column;
}
.sidenav-container {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-container a {
  margin-top: 60%;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.Loanlist-image-container{
  text-align: center;
  margin-top: 1em;
}

.Loanlist-image-item{
  width:300px;
  height:230px;
}

.BreadCrumb {
  margin-top: 6em;
  margin-left: 1.2em;
}