.LoanCreate {
  flex-direction: column;
}

.LoanCreate-title-container {
  margin-top: 1em;
  margin-left: 20em;
}

.LoanCreate-form-container {
  margin-left:20em;
  margin-top: 1em;
}

.BreadCrumb {
  margin-top: 6em;
  margin-left: 1.2em;
}